body{
    background-color: #8a8e94;
    margin: -20px 350px;
}

.content{
    margin: 20px 20px;
    width: 1100px;
    height: 870px;
    background-color: #ccc8c8;
}
.mainPost{
    background-color: white;
    padding: 0px 60px 10px 0px;
    font-family: 'Libre Franklin', sans-serif;
}
h1{
    font-size: 40px;
    padding-left: 40px;
}
#user{
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
}
.newPost{
    width: 1100px;
    height: 590px;
    padding-bottom: 10px;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    
}

.input{
    background: white;
    background-image: linear-gradient(white, white, rgb(221, 219, 219));
    width: 1100px;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
}
#display{
    width: 150px;
    margin: 40px -10px 40px -80px;
}
#comment{
    width: 710px;
    margin: 40px -60px 40px -80px;
}
#submitText{
    margin: 40px -50px 0px 0px;
    font-size: 30px;
    color: #9fc8d4;
}


.userPost{
margin: 10px;
background-color: white;
width: 1050px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Franklin', sans-serif;
}
#icon{
    align-self: center;
    background-color: white;
    width: 80px;
    margin-left: 20px;
}
.firstP{
    align-self: baseline;
    margin: 20px -135px 0px 0px;
    width: 110px;
    font-size: 20px;
    color: grey;
}
.secondP{
    width: 710px;
    margin: 25px 40px 0px 0px;
    height: 70px;
    font-size: 30px;
}
.edit{
    font-size: 20px;
    align-self: end;
    margin-top: 10px;
    padding: 5px;
    color: #9fc8d4;
}
.delete{
    font-size: 20px;
    align-self: end;
    margin-top: 10px;
    padding: 5px;
    color: #9fc8d4;
}
.newSubmit{
    align-self: flex-end;
    display: flex;
    text-align: left;
    margin: 10px -170px 0px -850px;
    display: none;
}
#newComment{
    margin: 0px 20px 10px -50px;
    width: 620px;
    height: 20px;
}
#newButton{
    text-align: left;
    margin: 0px 400px 0px 0px;
}